* {
  box-sizing: border-box;
}

html {
  --font: 'Cardo', serif;
  --black: black;
  --gray-1: #171717;
  --gray-2: #222;
  --gray-3: #333;
  --gray-4: #777;
  --gray-5: #aaa;
  --gray-6: #ccc;
  --gray-7: #ececec;
  --white: white;
  --gradient-1: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.025)
  );
  --gradient-2: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.05)
  );
  --gradient-3: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.1)
  );
}
body {
  font-family: var(--font);
  background: var(--black);
  color: var(--white);
  font-size: 1.125rem;
}
ul,
h1,
h2,
h3,
p {
  margin: 0px;
  padding: 0px;
}
h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 3rem;
}
h2 {
  margin-bottom: 1.5rem;
}
a {
  color: var(--gray-4);
}
.container {
  max-width: 33rem;
  padding: 0.5rem;
  margin: 0 auto 6rem auto;
}
section > form {
  display: grid;
  grid-template-columns: 6rem 1fr;
  gap: 1rem 0.5rem;
  align-items: center;
  margin-left: -7rem;
  margin-bottom: 2rem;
}
input,
label {
  display: block;
  width: 100%;
  font-size: 1rem;
  border: 1px solid var(--gray-2);
  box-shadow: inset 0 0 0 2px var(--black);
  padding: 0.75rem;
  font-family: sans-serif;
  border-radius: 100px;
  color: var(--gray-5);
  background: var(--gradient-1);
}
label {
  font-size: 0.85rem;
  background: var(--gradient-2);
}
input:focus {
  outline: none;
  border-color: var(--white);
}
form button,
form .split {
  grid-column: 2;
}
.split {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
@media (width < 47rem) {
  section > form {
    margin-left: 0;
  }
}
@media (width < 28rem) {
  section > form {
    grid-template-columns: 5rem 1fr;
    gap: 0.5rem;
  }
  label {
    font-size: 0.75rem;
  }
  form .split {
    flex-direction: column;
    align-items: start;
  }
}
button,
.btn,
select {
  font-size: 1rem;
  display: block;
  width: max-content;
  min-width: 160px;
  padding: 0.75rem 1.5rem;
  appearance: none;
  font-family: sans-serif;
  border-radius: 100px;
  color: var(--white);
  border: 1px solid var(--gray-2);
  background: var(--gradient-2);
  box-shadow: inset 0 0 0 2px var(--black);
  text-decoration: none;
  cursor: pointer;
}
button:hover,
.btn:hover,
select:hover {
  border-color: var(--gray-3);
  background: var(--gradient-3);
}
button:focus,
.btn:focus {
  outline: none;
  border-color: var(--white);
}
nav {
  margin-bottom: 2rem;
}
nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  border: 1px solid var(--gray-2);
  border-radius: 100px;
  padding: 2px;
}
nav li {
  display: block;
  flex: 1;
}
nav a {
  font-size: 1rem;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  font-family: var(--font);
  text-decoration: none;
  display: block;
  color: var(--white);
  background: var(--gradient-2);
}
nav li:first-child a {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
nav li:last-child a {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
nav a:hover,
nav a.active {
  background: var(--gradient-3);
}
select {
  width: 100%;
  margin-bottom: 2px;
}
section,
.render {
  animation: slideIn 0.3s ease-out forwards;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
[data-role] {
  display: none;
}
[data-role].ativo {
  display: block;
}
.ok,
.fail {
  padding: 0.5rem 1rem;
  animation: slideIn 0.3s ease-out forwards;
  border-radius: 100px;
  width: max-content;
  background: #211100;
  color: #ffca16;
  grid-column: 2;
}
.ok {
  background: #0c281c;
  color: #3dd78c;
}

/* CURSO */
#curso {
  margin-top: 2rem;
}
.curso-item {
  padding: 0 1rem 2rem 1rem;
  border-bottom: 2px dashed var(--gray-1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  text-wrap: balance;
}
.curso-item > *:not(.btn) {
  padding: 0.5rem;
}
.curso-item span:first-of-type {
  border-right: 1px solid var(--gray-1);
  justify-self: end;
}
.curso-item span:last-of-type {
  border-left: 1px solid var(--gray-1);
  justify-self: start;
}
.curso-item p,
.curso-item h2,
.curso-item .btn {
  grid-column: 1/-1;
}
.curso-item .btn {
  margin-top: 1rem;
  justify-self: center;
}
.curso-item h2 {
  margin: 1rem 0 0 0;
}
.curso-item p,
.curso-item span {
  color: var(--gray-5);
}

/* AULAS CURSO */
.curso-aulas {
  list-style: none;
  margin-top: 1rem;
}
.curso-aulas li a {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  padding: 0.75rem;
  text-decoration: none;
  align-items: center;
  color: var(--gray-6);
}
.curso-aulas li:nth-of-type(even) a {
  background: #111;
}
.curso-aulas li a:hover {
  background: var(--gray-2);
}
.curso-aulas li a span {
  color: var(--gray-4);
  font-size: 0.75rem;
  font-family: monospace;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.curso-aulas .status {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid var(--gray-3);
}
.curso-aulas .status.completa {
  background: linear-gradient(rgb(172, 239, 117), rgb(23, 232, 128));
}
#resetar-curso button {
  margin: 1rem auto;
}

/* AULA */
#aula h2 {
  font-size: 1.5rem;
  margin-bottom: 0px;
}
#breadcrumb {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--gray-4);
}
#breadcrumb a {
  color: var(--gray-4);
  text-decoration: none;
  font-family: sans-serif;
  font-size: 0.75rem;
}
#video {
  aspect-ratio: 16/9;
  margin: 1rem auto;
  border-radius: 12px;
  border: 1px solid var(--gray-1);
  overflow: hidden;
}
video {
  aspect-ratio: 16/9;
  max-width: 100%;
}
#aula-nav {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  justify-content: space-between;
  justify-items: center;
}
#aula-nav a,
#aula-nav button {
  padding: 0.5rem;
  min-width: 70px;
  font-size: 0.75rem;
  line-height: 1;
}

/* CERTIFICADOS */
#certificados ul {
  list-style: none;
  display: grid;
  gap: 1.5rem;
}
#certificados ul li a {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  align-items: center;
  font-family: var(--font);
}
select {
  margin-bottom: 1rem;
}

/* USER SEARCH */
#usuarios ul {
  margin-top: 1rem;
  list-style: none;
}
#usuarios li {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  font-size: 0.75rem;
  border-bottom: 2px dashed var(--gray-1);
  padding: 0.5rem 0;
  color: var(--gray-5);
}
.hidden {
  display: none;
}
#pages {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}
#pages button {
  min-width: max-content;
  padding: 0.25rem 0.75rem;
}
